# Dependencies
node_modules/
.pnp
.pnp.js

# Testing
coverage/

# Production / Build
dist/
build/
.next/
out/
scripts/build.js

# Environment Variables
.env
*.local
.env.development
.env.test
.env.production

# IDEs and Editors
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# OS and System
.DS_Store
Thumbs.db
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Capacitor / Native Fixes
android/app/build/
android/.gradle/
android/local.properties
ios/App/build/
ios/App/Pods/
ios/App/Frameworks/
capacitor.config.json.bak

# Database / Local DB
/backend/psico_db
*.sqlite
