# Dependencies
node_modules/

# Build
dist/

# Database
*.db
*.db-journal
*.db-wal
*.db-shm
*.sqlite
*.sqlite-journal
*.sqlite-wal
*.sqlite-shm
dev.db*
prisma/*.db*
prisma/*.sqlite*

# Environment
.env
.env.*
!.env.example

# Logs
logs/
*.log

# OS
.DS_Store
